---
import FormattedDate from '@/components/FormattedDate.astro';
import BaseLayout from '@/layouts/Base.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout>
  <div class="grid w-full grid-cols-1 gap-8">
    {
      posts.map((post) => (
        <a
          href={`/blog/${post.slug}/`}
          class="flex w-full flex-col gap-8 rounded-xl p-4 outline-1 hover:outline lg:flex-row"
        >
          {post.data.heroImage && (
            <Image class="my-0 rounded-lg" width={480} height={270} src={post.data.heroImage} alt={post.data.title} />
          )}
          <div class="flex h-full flex-col justify-center gap-4 p-4 pl-0">
            <span class="text-2xl leading-none">{post.data.title}</span>
            <span class="text-sm leading-none text-secondary-foreground">{post.data.description}</span>
            <span class="text-sm leading-none text-secondary-foreground">
              <FormattedDate date={post.data.date} />
            </span>
          </div>
        </a>
      ))
    }
  </div>
</BaseLayout>
