---
import { cn } from '@/cn';
import FormattedDate from '@/components/FormattedDate.astro';
import SearchInput from '@/components/SearchInput.react';
import BaseLayout from '@/layouts/Base.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

let posts = await getCollection('blog');
posts = posts.filter((post) => post.data.public);
posts = posts.toSorted((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout>
  <div class="grid w-full grid-cols-1 gap-8">
    <SearchInput client:load searchBaseUrl="/q/" />
    {
      posts.map((post) => (
        <a
          href={`/blog/${post.slug}/`}
          class={cn('flex w-full flex-col gap-8 rounded-xl p-4 outline-1 hover:outline lg:flex-row')}
        >
          {post.data.heroImage && (
            <Image
              transition:name={`${post.data.heroImage}-image`}
              referrerpolicy="no-referrer"
              class="my-0 max-w-md rounded-lg"
              width={800}
              height={500}
              src={post.data.heroImage}
              alt={post.data.title}
            />
          )}
          <div class="flex h-full flex-col justify-center gap-4 p-4 pl-0">
            <span class="text-2xl leading-tight" transition:name={`${post.data.title}-title`}>
              {post.data.title}
            </span>
            <span
              class="text-sm leading-tight text-secondary-foreground"
              transition:name={`${post.data.title}-description`}
            >
              {post.data.description}
            </span>
            <div class="flex flex-wrap gap-2" transition:name={`${post.data.title}-tags`}>
              {post.data.tags.map((t) => (
                <span class="rounded-full border px-2 py-1 text-sm text-gray-500">{t}</span>
              ))}
            </div>
            <span class="text-sm leading-none text-secondary-foreground">
              <FormattedDate date={post.data.date} />
            </span>
          </div>
        </a>
      ))
    }
  </div>
</BaseLayout>
