---
import FormattedDate from '@/components/FormattedDate.astro';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

import BaseLayout from './Base.astro';

import MaterialSymbolsLockIcon from '~icons/material-symbols/lock';

type Props = CollectionEntry<'blog'>['data'];
const { title, description, date, heroImage, tags, public: isPublic } = Astro.props;
---

<BaseLayout title={title} description={description} image={heroImage}>
  <article
    class="hide-last-empty-line-in-code-block hide-quote-marks-inside-blockquote remove-first-line-space-infront-of-code-block defaults-for-unplugin-icons prose mx-auto dark:prose-invert prose-a:no-underline hover:prose-a:underline prose-code:whitespace-pre prose-code:rounded prose-code:border prose-code:bg-[#24292E] prose-code:p-0.5 prose-code:before:hidden prose-code:after:hidden prose-pre:mt-0 prose-pre:rounded-t-none prose-img:rounded-xl"
  >
    <div class="flex justify-end gap-4">
      {isPublic && <FormattedDate date={date} />}
      {
        !isPublic && (
          <span class="text-gray-300">
            <MaterialSymbolsLockIcon color="yellow" class="inline h-4 w-4" />
            Draft
          </span>
        )
      }
    </div>
    <div class="flex justify-center">
      {
        heroImage && (
          <Image
            loading="eager"
            transition:name={`${title}-image`}
            referrerpolicy="no-referrer"
            class="mt-2 w-full rounded-xl"
            width={800}
            height={500}
            src={heroImage}
            alt={title}
          />
        )
      }
    </div>
    <div>
      <div>
        <h1 class="mb-1" transition:name={`${title}-title`}>{title}</h1>
        <p class="text-sm text-gray-300" transition:name={`${title}-description`}>
          {description}
        </p>
        <div class="flex flex-wrap gap-2" transition:name={`${title}-tags`}>
          {
            tags.map((t, i) => (
              <span
                class="mr-1 rounded-full border p-2 text-sm text-gray-500"
                transition:name={`${title}-${t}-${i.toString()}-tag`}
              >
                {t}
              </span>
            ))
          }
        </div>
        <hr class="my-4" />
      </div>
      <slot />
    </div>
    <script
      is:inline
      defer
      src="https://commento.sharath.uk/js/commento.js"
      data-no-fonts="true"
      data-hide-deleted="true"></script>
    <div id="commento"></div>
  </article>
</BaseLayout>

<style is:global>
  #commento-footer,
  .commento-markdown-button,
  .commento-permalink,
  .commento-anonymous-checkbox-container {
    display: none;
  }
  .commento-textarea-container > textarea,
  .commento-guest-details {
    background: #000000;
    color: #ffffff;
  }
</style>
