---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './Base.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, date, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article
    class="prose mx-auto dark:prose-invert prose-a:no-underline hover:prose-a:underline prose-code:whitespace-pre prose-code:rounded prose-code:border prose-code:bg-[#24292E] prose-code:p-0.5 prose-code:before:hidden prose-code:after:hidden"
  >
    <div class="flex justify-center">
      {heroImage && <Image class="rounded-xl" width={480} height={270} src={heroImage} alt={title} />}
    </div>
    <div>
      <div>
        <h1 class="mb-1">{title}</h1>
        <div class="flex justify-end gap-4">
          <FormattedDate date={date} />
        </div>
        <hr class="my-4" />
      </div>
      <slot />
    </div>
  </article>
</BaseLayout>
