---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import MaterialSymbolsLockIcon from '~icons/material-symbols/lock';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './Base.astro';

type Props = CollectionEntry<'blog'>['data'];
const { title, description, date, heroImage, tags, public: isPublic } = Astro.props;
---

<BaseLayout title={title} description={description} image={heroImage}>
  <article
    class="hide-last-empty-line-in-code-block hide-quote-marks-inside-blockquote remove-first-line-space-infront-of-code-block defaults-for-unplugin-icons prose mx-auto dark:prose-invert prose-a:no-underline hover:prose-a:underline prose-code:whitespace-pre prose-code:rounded prose-code:border prose-code:bg-[#24292E] prose-code:p-0.5 prose-code:before:hidden prose-code:after:hidden prose-pre:mt-0 prose-pre:rounded-t-none prose-img:rounded-xl"
  >
    <div class="flex justify-end gap-4">
      {isPublic && <FormattedDate date={date} />}
      {
        !isPublic && (
          <span class="text-gray-300">
            <MaterialSymbolsLockIcon color="yellow" class="inline h-4 w-4" />
            Draft
          </span>
        )
      }
    </div>
    <div class="flex justify-center">
      {
        heroImage && (
          <Image
            transition:name={`${heroImage}-image`}
            referrerpolicy="no-referrer"
            class="mt-2 w-full rounded-xl"
            width={480}
            height={270}
            src={heroImage}
            alt={title}
          />
        )
      }
    </div>
    <div>
      <div>
        <h1 class="mb-1">{title}</h1>
        <p class="text-sm text-gray-300">
          {description}
        </p>
        <div class="flex flex-wrap gap-2">
          {tags.map((t) => <span class="mr-1 rounded-full border p-2 text-sm text-gray-500">{t}</span>)}
        </div>
        <hr class="my-4" />
      </div>
      <slot />
    </div>
  </article>
</BaseLayout>

<style is:global>
  .hide-last-empty-line-in-code-block .astro-code code .line:last-of-type {
    display: none !important;
  }

  .remove-first-line-space-infront-of-code-block .astro-code code .line:first-of-type {
    margin-left: -3px !important;
  }

  .hide-quote-marks-inside-blockquote blockquote ::before {
    content: none !important;
  }

  .hide-quote-marks-inside-blockquote blockquote ::after {
    content: none !important;
  }

  .defaults-for-unplugin-icons svg {
    @apply mx-0.5 mb-1 inline h-5 w-5;
  }
</style>
